body { overflow: hidden; }
div.body {
	height: 100%;
	overflow: scroll;
}

.font-weight-light {
	font-weight: 100;
}

.font-weight-regular {
	font-weight: 300;
}

.font-weight-bold {
	font-weight: 500;
}

.border-top-bottom { border: 1px solid black; }
.border-lightgray { border-color: #eee; }
.indent-left-1 { padding-left: 1em !important; }
.indent-left-2 { padding-left: 2em !important; }
.indent-left-3 { padding-left: 3em !important; }
.indent-left-4 { padding-left: 4em !important; }
.space-left { margin-left: 1em !important; }

.small-pad { padding: 6px; }
.std-pad { padding: 8px; }
.std-margin { margin: 8px; }
.auto-margin { margin: auto; }
.std-margin-top { margin-top: 8px !important; }
.std-margin-left { margin-left: 8px !important; }
.std-margin-right { margin-right: 8px !important; }
.std-margin-bottom { margin-bottom: 8px !important; }
.min-w-100 { width: 100px; }
table, div.table {
	width: 100%;
}
input {
	width: 100%;
}
input[type=checkbox],
input[type=radio] {
	width: auto;
}
tr.classified {
	border-top: 2px solid #555;
	border-bottom: 2px solid #555;
}
div.classified {
	border-top: 2px solid #555;
}
div.classified:last-child {
	border-bottom: 2px solid #555;
}
td {
	padding: 10px;
}
.do table.name td {
	;
}
.do table.questions td {
	border: 1px solid #ddd;
	transition: background 0.2s ease;
}
.do table.questions td.selected {
	background: #555;
}
table.form th {
	text-align: center;
	font-size: 1.1em;
	padding: 15px;
	color: white;
	background: #0B2171;
	border: 1px solid #ddd;
}
table th {
	text-align: center;
	font-size: 1.1em;
	padding: 15px;
}
table.item td:first-child {
	width: 10%;
}
table.item td:last-child {
	width: 90%;
}
table.subject td {
	vertical-align: top;
}
tr.classified td,
div.classified div.col {
	padding: 10px;
}
tr.classified.cri,
div.classified.cri {
	border-color: #bbbbff;
}
tr.classified.que,
div.classified.que div.col {
	border-color: #bbffbb;
}
tr.classified.cho,
div.classified.cho div.col {
	border-color: #ffbbbb;
}
.col.criterion { height: 50px; }
.criterion { background: #bbbbff; }

.col.question { height: 182px; }
.question { background: #bbffbb; }

.col.choice { height: 150px; }
.choice { background: #ffbbbb; }

th[st-sort] {
	cursor: pointer;
}

th[st-sort]:after {
	font: normal normal normal 14px/1 FontAwesome;
	content: " \f0dc";
}

.space-bottom {margin-bottom: 10px;}
.space-right {margin-right: 10px;}
.space-left {margin-left: 10px;}
.space-top {margin-top: 10px;}
.space {margin: 10px;}

.h-pad {padding: 5px 0px;}
.v-pad {padding: 0px 5px;}
.pad {padding: 5px;}

.no-pad {padding: 0px;}
.no-pad-left {padding-left: 0px;}
.no-pad-right {padding-right: 0px;}
.no-pad-top {padding-top: 0px;}
.no-pad-bottom {padding-bottom: 0px;}

.text-light {font-weight: 500;}
.text-small {font-size: 0.95em;}
.text-big {font-size: 1.1em;}
.text-bigger {font-size: 1.2em;}
.text-xl {font-size: 1.3em;}
.text-xxl {font-size: 1.4em;}
.text-xxxl {font-size: 1.5em;}
.text-xxxxl {font-size: 2em;}

input {
	border: none;
	outline: none;
	border-bottom: 1px solid gray;
}

input:focus,
textarea:focus,
button:focus {
	outline: none;
}

input:focus,
textarea:focus {
	border-bottom: 1px solid skyblue;
}

textarea:focus {
	border: 1px solid skyblue;
}

button.round {
	color: white;
	background: #555;
	font-size: 10px; font-weight: bold;
	width: 20px; height: 20px;
	padding: 0;
}

button {
	border: none;
	background: #fff;
	border-radius: 4px;
	color: #555;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.6);
	transition: all 0.3s ease;
}

button:hover,
button.selected {
	background: #555;
	color: white;
	box-shadow: 1px 1px 8px rgba(0,0,0,0.8);
}

button.submit:hover,
button.submit.selected {
	background: #16006C;
}

button.submit {
	background: #0B2171;
	color: white;
}

.content-center { text-align: center; }
.content-left { text-align: left; }
.content-right { text-align: right; }

.indent-1 { padding-left: 2em; }
.indent-2 { padding-left: 4em; }
.indent-3 { padding-left: 6em; }
.indent-4 { padding-left: 8em; }

.no-margin { margin: 0px; }


.container.report.do {
	padding: 0px;
}
.report.header {
	padding: 10px;
	background: #fbfbfb;
}

.button-bar.bar-bottom {
	bottom: 0;
}
.button-bar button {
	box-shadow: none;
	border-radius: 0px;
	border-top: 1px solid #ddd;
	border-right: 1px solid #ddd;
	color: #777;
	background: #fbfbfb;
}
.button-bar button:last-child {
	border-right: none;
}
.button-bar button.selected {
	border-bottom: none;
	background: white;
	color: #555;
	font-size: 1.05em;
}
.button-bar button:hover {
	color: #555;
	/*font-size: 1.05em;	*/
}
.button-bar.bar-bottom button.selected {
	border-bottom: none;
}
.select-box {
	z-index: 99999;
	position: absolute;
	background: white;
	border-radius: 4px;
	padding: 10px;
	left: 50%; 
	width: 300px; margin-left: -150px;
	box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
}
.select-box .item {
	cursor: pointer;
}
.select-box .item:hover,
.select-box .item.selected {
	color: #29d;
}
.select-box-triangle {
	
}
.anim-fade.ng-enter, .anim-fade.ng-leave {
  transition:0.15s linear all;
}
.anim-fade.ng-enter {
  opacity: 0;
}
.anim-fade.ng-leave,
.anim-fade.ng-enter.ng-enter-active {
  opacity: 1;
}
.anim-fade.ng-leave.ng-leave-active {
  opacity: 0;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

/* Risk Screening Report */
table.risk td {
	/*border: 1px solid #eee;*/
	width: 20%;
	color: black;
	padding: 0px;
	border: 1px solid #ddd;
	cursor: pointer;
}
table.risk tr td:first-child {
	border-left: none;
}
table.risk tr td:last-child {
	border-right: none;
}
table.risk td h1 {
	transition: 0.2s linear all;
	color: white;
	background: #fbfbfb;
	/*background: #555;*/
	width: 100%;
	height: 175px;
	line-height: 100px;
	margin: auto;
}
table.risk td h1:hover,
table.risk td h1.selected {
	background: white;
}
table.risk td h1::before {
	border-bottom: 1px solid #ddd;
	color: #555;
	/*background: #fdfdfd;*/
	content: attr(data-type);
	display: block;
	float: left;
	font-size: 0.25em;
	width: 100%;
	height: 40px;
	line-height: 36px;
	padding: 0px;
	margin: 0px;
}
table.risk td h1.rnormal 	{ color: green; }
table.risk td h1.rhigh 		{ color: #fdd200; }
table.risk td h1.rveryhigh 	{ color: #ec0f0f; }
/*table.risk td h1.normal::before 	{ background: green; }
table.risk td h1.high::before { background: #fdd200; }
table.risk td h1.rveryhigh::before 	{ background: #ec0f0f; }*/

.vertical-align {
	height: 100%; height: 70vh;
	display: flex;
	align-items: center;
}