body { overflow: hidden; }
div.body {
	height: 100%;
	overflow: scroll;
}

.font-weight-light {
	font-weight: 100;
}

.font-weight-regular {
	font-weight: 300;
}

.font-weight-bold {
	font-weight: 500;
}

table, div.table {
	width: 100%;
}
input {
	width: 100%;
}
input[type=checkbox],
input[type=radio] {
	width: auto;
}
tr.classified {
	border-top: 2px solid #555;
	border-bottom: 2px solid #555;
}
div.classified {
	border-top: 2px solid #555;
}
div.classified:last-child {
	border-bottom: 2px solid #555;
}
td {
	padding: 10px;
}
.do table.name td {
	;
}
.do table.questions td {
	border: 1px solid #ddd;
	transition: background 0.2s ease;
}
.do table.questions td.selected {
	background: #555;
}
table.form th {
	text-align: center;
	font-size: 1.1em;
	padding: 15px;
	color: white;
	background: #0B2171;
	border: 1px solid #ddd;
}
table th {
	text-align: center;
	font-size: 1.1em;
	padding: 15px;
}
table.item td:first-child {
	width: 10%;
}
table.item td:last-child {
	width: 90%;
}
table.subject td {
	vertical-align: top;
}
tr.classified td,
div.classified div.col {
	padding: 10px;
}
tr.classified.cri,
div.classified.cri {
	border-color: #bbbbff;
}
tr.classified.que,
div.classified.que div.col {
	border-color: #bbffbb;
}
tr.classified.cho,
div.classified.cho div.col {
	border-color: #ffbbbb;
}
.col.criterion { height: 50px; }
.criterion { background: #bbbbff; }

.col.question { height: 182px; }
.question { background: #bbffbb; }

.col.choice { height: 150px; }
.choice { background: #ffbbbb; }

th[st-sort] {
	cursor: pointer;
}

th[st-sort]:after {
	font: normal normal normal 14px/1 FontAwesome;
	content: " \f0dc";
}

input {
	border: none;
	outline: none;
	border-bottom: 1px solid gray;
}

input:focus,
textarea:focus,
button:focus {
	outline: none;
}

input:focus,
textarea:focus {
	border-bottom: 1px solid skyblue;
}

textarea:focus {
	border: 1px solid skyblue;
}

button.round {
	color: white;
	background: #555;
	font-size: 10px; font-weight: bold;
	width: 20px; height: 20px;
	padding: 0;
}

button {
	border: none;
	background: #fff;
	border-radius: 4px;
	color: #29d;
	transition: all 0.3s ease;
}

button:hover,
button.selected {
	color: #4bf;
}
button:hover {
	color: #4bf;
	text-decoration: underline;
}

button.submit:hover,
button.submit.selected {
	background: #16006C;
}

button.submit {
	background: #0B2171;
	color: white;
}

.container.report.do {
	padding: 0px;
}
.report.header {
	padding: 10px;
	background: #fbfbfb;
}

.button-bar.bar-bottom {
	bottom: 0;
}
.button-bar button {
	box-shadow: none;
	border-radius: 0px;
	border-top: 1px solid #eee;
	border-right: 1px solid #eee;
	color: #777;
	background: #fbfbfb;
}
.button-bar button:last-child {
	border-right: none;
}
.button-bar button.selected {
	border-bottom: none;
	background: white;
	color: #555;
	font-size: 1.05em;
}
.button-bar button:hover {
	color: #555;
	/*font-size: 1.05em;	*/
}
.button-bar.bar-bottom button.selected {
	border-bottom: none;
}
.select-box {
	z-index: 99999;
	position: absolute;
	background: white;
	border-radius: 4px;
	padding: 10px;
	left: 50%; 
	width: 300px; margin-left: -150px;
	box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
}
.select-box .item {
	cursor: pointer;
}
.select-box .item:hover,
.select-box .item.selected {
	color: #29d;
}
.select-box-triangle {
	
}
.anim-fade.ng-enter, .anim-fade.ng-leave {
  transition:0.15s linear all;
}
.anim-fade.ng-enter {
  opacity: 0;
}
.anim-fade.ng-leave,
.anim-fade.ng-enter.ng-enter-active {
  opacity: 1;
}
.anim-fade.ng-leave.ng-leave-active {
  opacity: 0;
}
.anim-grow.ng-enter, .anim-grow.ng-leave {
  transition:0.25s ease all;
}
.anim-grow.ng-enter {
  transform: scale(0);
}
.anim-grow.ng-leave,
.anim-grow.ng-enter.ng-enter-active {
  transform: scale(1);
}
.anim-grow.ng-leave.ng-leave-active {
  transform: scale(0);
}
[ui-view].ng-enter {
  transition:0.2s linear all;
}
[ui-view].ng-enter {
  opacity: 0;
}
[ui-view].ng-enter.ng-enter-active {
  opacity: 1;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

/* Risk Screening Report */
table.risk td {
	/*border: 1px solid #eee;*/
	width: 20%;
	color: black;
	padding: 0px;
	border: 1px solid #eee;
	cursor: pointer;
}
table.risk tr td:first-child {
	border-left: none;
}
table.risk tr td:last-child {
	border-right: none;
}
table.risk td h1 {
	transition: 0.2s linear all;
	color: white;
	background: #fbfbfb;
	/*background: #555;*/
	width: 100%;
	height: 175px;
	line-height: 100px;
	margin: auto;
}
table.risk td h1:hover,
table.risk td h1.selected {
	background: white;
}
table.risk td h1::before {
	border-bottom: 1px solid #eee;
	color: #555;
	/*background: #fdfdfd;*/
	content: attr(data-type);
	display: block;
	float: left;
	font-size: 0.25em;
	width: 100%;
	height: 40px;
	line-height: 36px;
	padding: 0px;
	margin: 0px;
}
table.risk td h1.rnormal 	{ color: green; }
table.risk td h1.rhigh 		{ color: #fdd200; }
table.risk td h1.rveryhigh 	{ color: #ec0f0f; }
/*table.risk td h1.normal::before 	{ background: green; }
table.risk td h1.high::before { background: #fdd200; }
table.risk td h1.rveryhigh::before 	{ background: #ec0f0f; }*/

.vertical-align {
	height: 100%; height: 70vh;
	display: flex;
	align-items: center;
}

table.risk-body * {
	font-size: 1em;
}
table.risk-body th {
	background: #fbfbfb;
	border-bottom: 1px solid #eee;
}

th.risk-count {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}
table.risk-body tr.odd {
	background: #fdfdfd;
	border-top: 1px solid #fbfbfb;
	border-bottom: 1px solid #fbfbfb;
}
table.risk-body td {
	cursor: pointer;
	border: 1px solid #fbfbfb;
}
table.risk-body tr:hover td {
	color: #29d;
}

.modal-over-current-context {
	position: absolute; 
	width: 100%; 
	top: 0; left: 0;
	background: white;
}