/* 
#0B2171 : ammart blue
#0C257E : Domniant 
#1237BD : Secondary
#FDC119 : Yellow Accent 
#3A5392 : Pale blue Accent 
#ffffff : Main Text
#333333 : Secondary Text
#ffffff : Text Background
#808080 : Placeholder
*/

.color-accent 		{ color: #3A5392; }
.color-dominant 	{ color: #FFFFFF; }
.color-secondary 	{ color: #555555; }
.color-tertiary 	{ color: #FBFBFB; }
.color-highlight 	{ color: #2299DD; }
.color-lowlight 	{ color: #999999; }

.bgcolor-accent 	{ background-color: #3A5392; }
.bgcolor-dominant 	{ background-color: #FFFFFF; }
.bgcolor-secondary 	{ background-color: #555555; }
.bgcolor-tertiary 	{ background-color: #FBFBFB; }
.bgcolor-highlight 	{ background-color: #2299DD; }
.bgcolor-lowlight 	{ background-color: #999999; }

.friendly			{ color: #44aa44; }
.destructive		{ color: #aa4444; }
.alarming			{ color: #ddcc00; }
.friendly-light		{ color: #bbffbb; }
.destructive-light	{ color: #ffbbbb; }
.alarming-light		{ color: #eeffaa; }

.friendly.child *			{ color: #44aa44; }
.destructive.child *		{ color: #aa4444; }
.alarming.child *			{ color: #ddcc00; }
.friendly-light.child *		{ color: #bbffbb; }
.destructive-light.child *	{ color: #ffbbbb; }
.alarming-light.child *		{ color: #eeffaa; }

.bg-friendly			{ background-color: #44aa44; }
.bg-destructive			{ background-color: #aa4444; }
.bg-alarming			{ background-color: #ddcc00; }
.bg-friendly-light		{ background-color: #bbffbb; }
.bg-destructive-light	{ background-color: #ffbbbb; }
.bg-alarming-light		{ background-color: #eeffaa; }

.bg-friendly		{ background-color: #44aa44; }
.bg-destructive		{ background-color: #ff4444; }
.bg-alarming		{ background-color: #ddcc00; }