/* 
#0B2171 : ammart blue
#0C257E : Domniant 
#1237BD : Secondary
#FDC119 : Yellow Accent 
#3A5392 : Pale blue Accent 
#ffffff : Main Text
#333333 : Secondary Text
#ffffff : Text Background
#808080 : Placeholder
*/

.color-accent 		{ color: #3A5392; }
.color-dominant 	{ color: #FFFFFF; }
.color-secondary 	{ color: #555555; }
.color-tertiary 	{ color: #FBFBFB; }
.color-highlight 	{ color: #2299DD; }
.color-lowlight 	{ color: #999999; }

.bgcolor-accent 	{ color: #3A5392; }
.bgcolor-dominant 	{ color: #FFFFFF; }
.bgcolor-secondary 	{ color: #555555; }
.bgcolor-tertiary 	{ color: #FBFBFB; }
.bgcolor-highlight 	{ color: #2299DD; }
.bgcolor-lowlight 	{ color: #999999; }